<div class="main-text">
  <% if @bands.any?() %>

    <h1>Here are the current bands:</h1>

    <ul>
      <% @bands.each do |band| %>
        <li><a href="bands/<%= band.id() %>"><%= band.name() %></a></li>
      <% end %>
    </ul>

  <% else %>

    <h3>There are no bands yet!</h3>

  <% end %>

  <br></br>

  <form action="/bands" method="post">
    <div class="form-group">
      <label for="name">Add a new Band:</label>
      <input type="text" name="name" id="name" class="text-center">
      <br></br>
      <button type="submit" class="btn btn-danger">Submit</button>
    </div>
  </form>
</div>

<br></br>

<div class="link">
  <a href="/">Back to home page</a>
</div>

<div class="link">
  <a href="/venues">To venue list</a>
</div>
