<div class="jumbotron">
  <h1>Welcome to the Band Tracker app!</h1>
</div>

<div class="link">
  <a href="/bands">Click here to view bands!</a>
</div>

<br></br>

<div class="link">
  <a href="/venues">Click here to view venues!</a>
</div>
