<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="https://bootswatch.com/slate/bootstrap.min.css" type="text/css">
    <title>Band Tracker</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
